*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-weight: 800;
    font-size: 50px;
}
h2{
    font-weight: 700;
    font-size: 40px;
}
h3{
    font-weight: 700;
}
p{
    color:#5c5c5c;
    font-size: 16px;
    line-height: 25px;
}
/* ----- Navbar start ----- */
.navbar{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.navbar .navbar-nav .nav-item a{
    font-size: 18px;
    font-weight: 500;
    margin: 5px 15px;
    color: #fff;
}
.navbar .nav-item a:hover{
    color: #0093df;
}
.navbar .nav-item a.active{
    color: #0093df;
    text-decoration: underline;
}
/* ------ Navbar End ------- */

/* ------ hero-section start ------- */

.hero-section{
    background-image: url(images/banner-bg.jpg.webp);
}
.hero-section .hero-content span{
    color: #0093df;
}
.hero-btn a{
    background: #0093df;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.hero-btn a:hover{
    background-color: #1f1d1d;
    color: #fff;
}
/* ------ hero-section end ------- */


/* ------ Pilates section start ----- */
.pilate .card .card-img{
    overflow: hidden;
}
.card-img-top{
    transition: all 0.5s ease;
    cursor: pointer;
}
.pilate .card:hover .card-img-top{
    transform:scale(1.1);
}
/* ------ Pilates section end ----- */

/*--------------------------------------- Schedule-section -----------------------------------*/
/* ------ Approach section start ----- */

.parrallax{
    background-image: url(images/YAELINMOTION-93.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}
.approach{
background-color: rgba(0,0,0,0.65);
}
/* ------ Approach section end ----- */

/*----- our testimonial section start -->-- */
.shadow{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: #fff;
    padding: 20px 20px 32px;
}
/*----- our testimonial section end ----- */

/* ----- About-US Page section start---- */
.about-us{
    background-color: #5c5c5c;
}
/* ----- About-US Page section end---- */


/*----- media query -----*/
@media only screen and (max-width:768px){
    h1{
        font-size:44px;
    }
    h2{
        font-size: 34px;
    }
    .navbar .navbar-nav{
        background-color: #1f1e1e;
        width: 100%;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 20px;
    }
}
@media only screen and (max-width:425px){
    h1{
        font-size:36px;
    }
    h2{
        font-size: 29px;
    }
}